body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
input {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.radio-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
    align-items: center;
}
.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
}
.links a {
    color: #007bff;
    text-decoration: none;
}
